/* Estilo para centrar el p:toolbarGroup */
.ui-toolbar-group {
    text-align: center;
}

/* Estilo para los p:button */
.ui-toolbar-group .ui-button {
    margin-right: 10px; /* Ajusta el margen entre los botones */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 12px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
}

/* Estilo para el hover de los p:button */
.ui-toolbar-group .ui-button:hover {
    background-color: #4CAF50; /* Color de fondo en hover */
    color: white; /* Color del texto en hover */
}
